<ion-header>
  <ion-toolbar>
    <ion-title>Chapter1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra eros ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed dictum porttitor urna sit amet tempor. Morbi convallis justo libero, et semper massa ornare non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce convallis aliquet nunc eu dignissim. Donec neque augue, facilisis eu tincidunt in, luctus non dolor. Morbi venenatis commodo interdum. Nullam a lorem quis purus fermentum volutpat luctus quis dui. Suspendisse vel hendrerit dolor, vel mollis magna. Phasellus luctus tristique leo, eget faucibus ante posuere sit amet.</p>
<ion-button color="success" expnad="full">Next Chapter</ion-button>

</ion-content>
